@import "../../assets/styles/colors.scss";

.App-header {
  width: 1280px;
  height: 196px;
  background-color: $bg-color-1;
  font-family: "Montserrat Regular";
  font-size: 27px;
  line-height: 20px;
  text-align: center;
  padding: 26px 256px;
  h2 {
    font-size: 28px;
    padding: 0px;
  }
}
