@import "../../assets/styles/colors.scss";

$line-height: 32px;

.App-Container {
  background-color: $main-bg-color;
  min-height: 100vh;
  h2 {
    font-size: 24px;
    line-height: $line-height;
    padding: 20px 0px 8px 0px;
  }

  h3 {
    font-size: 20px;
    line-height: $line-height;
  }
  .App-Button {
    margin: 10px 0px;
    box-shadow: none;
    border-radius: 99px;
    background-color: $bg-color-7;
    color: $bg-color-1;
    &--base {
      margin: 10px 0px;
      color: $bg-color-7;
    }
    &:hover {
      background-color: $bg-color-7;
    }
  }
}
